/*----------------
 Fonts --------*/
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

 /*---------------
   Global Css ---*/
 :root {
   --main-color: #7857fe;
   --color-1: #e91e63;
   --color-2: #f5ae10;
   --color-3: #09d69c;
   --bg-dark: #2b2c2f;
   --main-to-dark-color: var(--main-color);
   --dark-to-main-color: var(--bg-dark);
   --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
   --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
   --black-900: #000000;
   --black-400: #555555;
   --black-100: #f7f7f7;
   --black-000: #ffffff;
   --black-alpha-100: rgba(0, 0, 0, 0.05);
   --accent-color: #b8c1ec;
   --font-size-small: 1.4rem;
   --font-size-normal: 1.6rem;
   --font-size-medium: 2rem;
 }
 
 body {
  
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   font-weight: 400;
   overflow-x: hidden;
   background-color:var(--accent-color);
   line-height: 1.5;
 }
 
 body.dark{
   background-color: var(--bg-dark);
   --black-100: var(--bg-dark);
   --black-000: var(--bg-dark);
   --main-to-dark-color: var(--bg-dark);
   --dark-to-main-color: var(--main-color);
   --shadow-black-100: var(--shadow-black-300);
   --black-alpha-100: rgba(255, 255, 255, 0.05);
   --black-900: #000000;
   --black-400: #bbbbbb;
 }
 



/* .graph-cont{
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
} */


/* h1,h2,h3{
  text-align: center;
  color: #34495e;
} */

.chart-wrap {
  
  max-width: 1995px;
  margin-top: 50px;
  margin-right: 15px;
  margin-left: 15px;
  align-items: center;
  padding-right: 190px;
  padding-left: 190px;
  border: 1px solid var(--black-100);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: .4rem;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.bar{
  height: 15px;
  max-width: 1500px;
  margin-bottom: 15px;
  margin-right:50px;
  margin-left:50px;
  line-height: 30px;
  font-size: 10px;
  /* font-weight: bold; */
  color: var(--black-100);
  padding-left: 30px ;
  position: relative;
  align-items: flex-end;
}
.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background:var(--accent-color);

}
.bar::after{
  content: '';
  background: var(--main-to-dark-color);
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bar1::after{
  max-width: 100%;
  
}
.bar2::after{
  max-width: 98%;
}
.bar3::after{
  max-width: 96%;
}
.bar4::after{
  max-width: 94%;
}
.bar5::after{
  max-width: 92%;
}
.bar6::after{
  max-width: 90%;
}
.bar7::after{
  max-width: 88%;
}

.bar8::after{
  max-width: 86%;
}
.bar9::after{
  max-width: 84%;
}

.bar10::after{
  max-width: 82%;
}
.bar11::after{
  max-width: 80%;
}


.bar12::after{
  max-width: 78%;
}



.bar13::after{
  max-width: 76%;
}

.bar14::after{
  max-width: 74%;
}

.bar15::after{
  max-width: 72%;
}

.bar16::after{
  max-width: 70%;
}

.bar17::after{
  max-width: 68%;
}
.bar18::after{
  max-width: 66%;
}

.bar19::after{
  max-width: 64%;
}

.bar20::after{
  max-width: 62%;
}
.bar21::after{
  max-width: 60%;
}


.bar22::after{
  max-width: 58%;
}
.bar23::after{
  max-width: 56%;
}

.bar24::after{
  max-width: 54%;
}

.bar25::after{
  max-width: 52%;
}

.bar26::after{
  max-width: 50%;
}

.bar27::after{
  max-width: 48%;
}
.bar28::after{
  max-width: 46%;
}
.bar29::after{
  max-width: 44%;
}
.bar30::after{
  max-width: 42%;
}
.bar31::after{
  max-width: 40%;
}
.bar32::after{
  max-width: 38%;
}
.bar33::after::after{
  max-width: 36%;
}
.bar34::after{
  max-width: 34%;
}
.bar35::after{
  max-width: 32%;
}

.bar36::after{
  max-width: 30%;
}

.bar37::after{
  max-width: 28%;
}

.bar38::after{
  max-width: 26%;
}

.bar39::after{
  max-width: 24%;
}

.bar40::after{
  max-width: 22%;
}

.bar41::after{
  max-width: 20%;
}

.bar42::after{
  max-width: 18%;
}
.bar43::after{
  max-width: 16%;
}

.bar44::after{
  max-width: 14%;
}

.bar45::after{
  max-width: 12%;
}

.bar46::after{
  max-width: 10%;
}

.bar47::after{
  max-width: 8%;
}

.bar48::after{
  max-width: 6%;
}

.bar49::after{
  max-width: 4%;
}

.bar50::after{
  max-width: 2%;
}

.bar51::after{
  max-width: 1%;
}

.bar52::after{
  max-width: 0.08%;
}

.bar53::after{
  max-width: 0.05%;
}

.bar54::after{
  max-width: 0.03%;
}
.bar55::after{
  max-width: 5%;
}

.bar56::after{
  max-width:10%;
}



















/* @-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
  40%{
    width: 40%;
  }
}

.how-cont{
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
code {
  padding: 5px;
  background: #ecf0f1;
  display: block;
}
pre{
  padding: 0;
  margin: 0;
} */

/*---------------------
 Responsive ---------*/
 @media (max-width: 300px) {
  .chart-wrap{
    max-width: 200px;
   /* margin-top: 10px;
   margin-right: 10px; */
   margin: auto;
   padding: 5px;
  }

 #major{
   font-size: 10px;
   
 }
}
 
 @media (max-width: 991px) {
   .chart-wrap{
     max-width: 800px;
    /* margin-top: 10px;
    margin-right: 10px; */
    margin: auto;
    padding: 5px;
    font-size: 10px;
   }

  .bar{
    font-size: var(--font-size-small);
  }
 }

 @media screen and (min-width: 320px) {
   .chart-wrap{
     margin-right: 10px;
     margin-left: 10px;
   }


  .bar{
      font-size: 11px;
      margin-bottom: 20px;

      padding-left: 5px;
      padding-right: 5px;
  }
  
}